<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      a {
        text-decoration: none;
      }

      .-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 216px;
        height: 56px;
        text-align: center;
        border-radius: 12px;
      }

      .-btn:hover {
        opacity: 0.8;
      }

      .-bg {
        background: #1c449b;
      }

      .-txt {
        color: #fff;
      }

      .-xs {
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <a href="./register" class="-btn -bg -txt"> register </a>
    <br />
    <a href="./join" class="-btn -bg -txt"> email </a>
    <br />
    <a href="./addsports" class="-btn -bg -txt"> Add Course </a>
  </body>
</html>
